body{
    background-color: cornflowerblue;
}
.quest-box{
    position: relative;
    background-color: chartreuse;
}
.quiz-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80%;
    color: white;
    
    
}
.quiz-top h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    /* background-color: antiquewhite; */
    display: flex;
    width: 200px;
}
.quiz-box{
    border: 2px solid darkgoldenrod;
    width: 500px;
    height: auto;
}
.quiz-box-main{
    display: flex;
    justify-content: center;
}
.question{
    display: flex;
    justify-content: center;
    align-items: center;
}
.option-box{
    border: 2px solid darkblue;
    display: flex;
    gap: 20px;
}
.option-box li{
    list-style-type: none;
}
.answer-box{
    border: 2px solid darksalmon;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    background-color: darkkhaki;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
}